<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
    <link rel="stylesheet" href="feedbk.css">
    </head>
    <body>
        <section></section>
    <div class="container feedback">
            <form>
                <h1>Give your Feedback</h1>
                <div class="id">
                    <input type="text" placeholder="Full name">
                    <i class="far fa-user"></i>
                </div>
                <div class="id">
                    <input type="email" placeholder="Email Address">
                    <i class="far fa-envelope"></i>
                </div>
                    <textarea cols="15" rows="5" placeholder="Enter your opinions here.."></textarea>
                    <button>Send</button>
            </form>
    </div>
</body>
</html>